.thumbnailImageContainer {
  list-style-type: none;
  width: 80px;
  margin: 15px;
  margin-left: -10px;
  padding-left: 0px;
  text-align: center;
}
.thumbnailImage {
  margin-left: -3px;
  width: 80px;
}
.thumbButton {
  background-color: transparent;
  border: none;
}
